@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: /; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(158, 102, 102);
  color: white;
  /* background: no-repeat; */
}
button {
  background-color: rgb(63, 3, 3);
  color: aliceblue;
  padding: 20px;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
button:hover {
  color: rgb(34, 25, 13);
  background-color: rgb(198, 133, 49);
}
